# Projekt

Konto behövs på Render och Kaggle. 

## Anonymisering

Kryptering innehåller två steg, anonymisering är en av dem. Hashning och formatering. 

SHA-256 kan vi använda enbart för validering eftersom den inte går att återskapa.

In [24]:
import hashlib as hl

string_to_hash = "gore_bord@gmail.com".encode()
string_to_hash

b'gore_bord@gmail.com'

Visas som b'gore-bord@gmail.com' där bokstaven b betyder binary. Eftersom en string under utan har fler dolda tecken så försvinner de när vi encodar.

In [25]:
string_to_hash_case = "Gore_bord@gmail.com".encode()
hl.sha256(string_to_hash).hexdigest(), hl.sha256(string_to_hash_case).hexdigest()

('7d6d9a849ccc7f5febe065ebe3b4f39558fc96ef865e02333dd7b7426ff0c057',
 '5a1d7bd95608d9067b72c9a04f97e82067922da234d68713fcd0236611737bd0')

Denna är 256 bitar lång. En liten skillnad som vi ser har en stor påverkan.

In [26]:
import pandas as pd

df = pd.read_csv("../Data/BankChurners.csv", usecols=["CLIENTNUM", "Attrition_Flag", "Customer_Age", "Gender", "Total_Trans_Amt"])
df.head()

   CLIENTNUM     Attrition_Flag  Customer_Age Gender  Total_Trans_Amt
0  768805383  Existing Customer            45      M             1144
1  818770008  Existing Customer            49      F             1291
2  713982108  Existing Customer            51      M             1887
3  769911858  Existing Customer            40      F             1171
4  709106358  Existing Customer            40      M              816

In [27]:
df["CLIENTNUM"].info()  # vi måste ha en string när vi encodar

<class 'pandas.core.series.Series'>
RangeIndex: 10127 entries, 0 to 10126
Series name: CLIENTNUM
Non-Null Count  Dtype
--------------  -----
10127 non-null  int64
dtypes: int64(1)
memory usage: 79.2 KB

In [28]:
df["CLIENTNUM"] = df["CLIENTNUM"].astype(str)
hashes = df["CLIENTNUM"].apply(lambda client_num: hl.sha256(client_num.encode()).hexdigest())
hashes.head()

0    c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...
1    7996e2340d70489252370a5df035ec99381c8344cc3511...
2    6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...
3    f86b86a1047317685f29c399059b199858685faf5ec6a8...
4    0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...
Name: CLIENTNUM, dtype: object

In [29]:
df.insert(1, "SHA_hash_value", hashes)
df.head()

,CLIENTNUM,SHA_hash_value,Attrition_Flag,Customer_Age,Gender,Total_Trans_Amt
0,768805383,c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...,Existing Customer,45,M,1144
1,818770008,7996e2340d70489252370a5df035ec99381c8344cc3511...,Existing Customer,49,F,1291
2,713982108,6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...,Existing Customer,51,M,1887
3,769911858,f86b86a1047317685f29c399059b199858685faf5ec6a8...,Existing Customer,40,F,1171
4,709106358,0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...,Existing Customer,40,M,816