
<a href="https://colab.research.google.com/github/kokchun/Databehandling-AI22/blob/main/Exercises/E02_merging.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> &nbsp; to see hints and answers.

---
# Merging exercises

---
These are introductory exercises in Pandas with focus in **syntax, indexing, data selection, missing data, aggregations, visualizations**, **data cleaning**, **merging**, **concatenation**, **joining**, **parse html tables** .

<p class = "alert alert-info" role="alert"><b>Note</b> all datasets used in this exercise can be found under Data folder of the course Github repo</p>

<p class = "alert alert-info" role="alert"><b>Note</b> that there are usually many ways to achieve same results using operations in pandas. Feel free to investigate several ways. </p>

<p class = "alert alert-info" role="alert"><b>Note</b> that in cases when you start to repeat code, try not to. Create functions to reuse code instead. </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable, function, index </b> and <b> column names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Swedish demographic data (*)

Go to Swedish-language wikipedia page [Sveriges demografi](https://sv.wikipedia.org/wiki/Sveriges_demografi). 

&nbsp; a) Read in the table under "Befolkningsstatistik sedan 1900" into a DataFrame

&nbsp; b) Choose to do some EDA (exploratory data analysis) on this dataset. And draw some relevant graphs.

&nbsp; c) Now we want to go backwards in time (before 1900) to see how population has changed in Sweden. Read in the table under history and keep the data of "Folkmängd" from 1570-1865. 

| År   | Folkmängd |
| ---- | --------- | 
| 1570 | 900000    |     
| 1650 | 1225000   |
| 1700 | 1485000   |
| 1720 | 1350000   |
| 1755 | 1878000   |
| 1815 | 2465000   |
| 1865 | 4099000   |


&nbsp; d) Now concatenate this with the table from 1900 so that you have population data from 1570 to 2020. Note that you may need to clean the data in order for it to fit properly. Also you may be able to do this in several ways. 

&nbsp; e) Draw a graph of population data from 1570-2020.

&nbsp; f) Try to see if you can plot something from this data that might show the effects of the Covid-19 pandemic. It"s good to zoom in the data, i.e. plot a shorter time frame instead of all time frames. 

&nbsp; g) Try to see if you can plot something from this data that might capture the effects imigration and emigration waves.

&nbsp; h) Feel free to find other interesting facts about the Swedish demographics based on this data. 

<details>
<summary>Hint</summary>

Useful methods:
- append()
- join()
- concat()
- merge()

</details>

<br/>

<details>

<summary>Answer</summary>

![Sweden population data 1952-2020](../assets/sverige_befolkning_tid.png)

</details>

In [510]:
# 1.a)

import pandas as pd
import numpy as np
from IPython.display import display
import plotly_express as px 

def scrape_table(url, table_number):
    df = pd.read_html(url)
    table = df[table_number]
    path = "../Data/" + url.split("/")[-1] + f"_{str(table_number)}.csv"
    table.to_csv(path)
    return path


def read_table(path):
    table = pd.read_csv(path)
    return table

# loc = scrape_table("https://sv.wikipedia.org/wiki/Sveriges_demografi", 6) # sparad som CSV
swe_raw = read_table("/home/albot/coding/repos/databehandling-albot/Data/Sveriges_demografi_6.csv") # tidigare arg=loc
swe = swe_raw.rename(columns={"Unnamed: 0": "År", 
                              "Medel- folkmängd": "Folkmängd",
                              "Naturlig befolknings- förändring": "Naturlig_befolkningsförändring",
                              "Nativitet (per 1000)": "Nativitet_per_1000", 
                              "Dödstal (per 1000)": "Dödstal_per_1000",
                              "Naturlig befolknings- förändring (per 1000)": "Naturlig_befolkningsförändring_per_1000",
                              "Total fertilitet": "Total_fertilitet"})
swe = swe.drop("Unnamed: 0.1", axis=1).set_index("År")
swe = swe.dropna(how="any")
for col in swe.columns[:4]:
    swe[col] = swe[col].astype(str).str.strip().str.replace(",", ".").str.replace(" ", "").astype(float)
# display(swe)

In [355]:
# 1.b)

def plot_pop_time(df):
    fig = px.line(df, x=df.index, y="Folkmängd", title="Sveriges befolkning över tid")
    fig.show()


def plot_born_dead():
    swe_born_dead = swe[["Födda", "Döda", "Naturlig_befolkningsförändring"]]
    swe_born_dead = swe_born_dead.reset_index()
    swe_bd_melted = swe_born_dead.melt(id_vars="År", value_vars=["Födda", "Döda", "Naturlig_befolkningsförändring"], 
                                    var_name="Category", value_name="Count")
    fig = px.line(swe_bd_melted, x="År", y="Count", color="Category", 
                  title="Born and Dead Over Time")
    fig.show()


def plot_per_1000():
    swe_per_1000 = swe[["Nativitet_per_1000", "Dödstal_per_1000", "Naturlig_befolkningsförändring_per_1000", "Total_fertilitet"]]
    swe_per_1000 = swe_per_1000.reset_index()
    swe_p1_melted = swe_per_1000.melt(id_vars="År", value_vars=["Nativitet_per_1000", "Dödstal_per_1000", "Naturlig_befolkningsförändring_per_1000", "Total_fertilitet"], 
                                    var_name="Category", value_name="Count")
    fig = px.line(swe_p1_melted, x="År", y="Count", color="Category", 
                  title="Population per 1000")
    fig.show()


# plot_pop_time()
# plot_born_dead()
# plot_per_1000()

In [356]:
# 1.c)

# loc = scrape_table("https://sv.wikipedia.org/wiki/Sveriges_demografi", 1) # sparad som CSV
swe_his_raw = read_table("/home/albot/coding/repos/databehandling-albot/Data/Sveriges_demografi_1.csv") # tidigare arg=loc
swe_his = swe_his_raw.rename(columns={"Vid utgången av år": "År",
                              "Folkmängd": "Folkmängd", 
                              "Årlig tillväxt": "Årlig_tillväxt_totalt",
                              "Årlig tillväxt.1": "Årlig_tillväxt_promille"})
swe_his = swe_his.drop(["Unnamed: 0", "Årlig_tillväxt_totalt", "Årlig_tillväxt_promille"], axis=1).set_index("År")
swe_his = swe_his.iloc[1:-4, :]
swe_his["Folkmängd"] = swe_his["Folkmängd"].astype(str).str.strip().str.replace("\xa0", "").str.replace(" ", "").astype(float)  # replacing "\xa0" due to prior ValueError: could not convert string to float: '900\xa0000'

# display(swe_his)

In [357]:
# 1.d)

swe_pop = swe["Folkmängd"]
swe_pop = pd.concat([swe_his, swe_pop])
# display(swe_pop.tail(100))

In [358]:
# 1.e)

# plot_pop_time(swe_pop)

In [467]:
# 1.f)

def plot_largest_death_increases():
    swe_death = swe[["Döda"]]
    swe_death["Diff_%"] = [np.nan] + [(np.divide((swe_death.iloc[i, 0] - swe_death.iloc[i-1, 0]), (swe_death.iloc[i, 0] + swe_death.iloc[i-1, 0])) * 100) for i in range(1, len(swe_death))]
    swe_death_top10 = swe_death.sort_values(by="Diff_%", ascending=False).head(10)
    swe_death_top10 = swe_death_top10.sort_index()
    ave = float(swe_death["Diff_%"].mean())
    mid = float(swe_death["Diff_%"].median())
    plt.figure(figsize=(10, 8))
    ax = sns.barplot(x=swe_death_top10.index, y=swe_death_top10["Diff_%"], zorder=2)
    ax.axhline(ave, color="red", linestyle="--", label="Genomsnitt")
    for container in ax.containers:
        ax.bar_label(container, fmt="%.2f", label_type="edge", padding=-15, color="white", fontweight="bold")
    plt.yticks(np.arange(0, 16, 1))
    plt.title("År med störst procentuell ökning av döda 1900-2020\n", fontweight="bold")
    plt.ylabel("Procentuell ökning\n", fontweight="bold")
    plt.xlabel("\nÅrtal", fontweight="bold")
    plt.grid(axis="y", zorder=1)
    plt.legend()
    plt.show()
    display(swe_death_top10)


# plot_largest_death_increases()

In [509]:
# 1.g)

def plot_migration():
    swe_mig = swe[["Folkmängd", "Födda", "Döda"]]
    swe_mig["Differens"] = swe_mig["Folkmängd"].diff()
    swe_mig["Migration"] = swe_mig["Folkmängd"].diff() - (swe_mig["Födda"] - swe_mig["Döda"])
    plt.figure(figsize=(10, 6))
    sns.lineplot(data=swe_mig, x=swe_mig.index, y="Differens", label="Befolkningsförändring", linestyle="solid")
    sns.lineplot(data=swe_mig, x=swe_mig.index, y="Migration", label="Migration", linestyle="dashed")
    sns.lineplot(data=swe_mig, x=swe_mig.index, y="Födda", label="Födda", linestyle="dashdot")
    sns.lineplot(data=swe_mig, x=swe_mig.index, y="Döda", label="Döda", linestyle="dotted")
    plt.axhline(0, color="black")
    plt.title("Korrelation mellan befolkningsförändring och migration\n", fontweight="bold")
    plt.xlabel("\nÅrtal", fontweight="bold")
    plt.ylabel("Antal\n", fontweight="bold")
    plt.yticks(np.arange(-30000, 150000, 10000))
    plt.grid(axis="y")
    plt.legend()
    plt.show()

# plot_migration()

In [ ]:
# 1.h)
# Feel free to find other interesting facts about the Swedish demographics based on this data.

---
## 2. Denmark demographic data (*)

Go to the Danish-language wikipedia page [Danmarks demografi](https://da.wikipedia.org/wiki/Danmarks_demografi). 

&nbsp; a) Read in the table under "Demografiske data" into a DataFrame (*)

&nbsp; b) Clean the data and draw a graph of population against year from 1769-2020. (**)

In [550]:
def clear_data(df):
    df = df.dropna(how="any")
    df.columns = ["År", "Folkmängd"]
    df["År"] = df["År"].astype(int)
    df["Folkmängd"] = df["Folkmängd"].astype(str).str.strip().str.replace(".", "").str.replace("[7]", "").astype(float)
    df = df.set_index("År")
    return df

# loc = scrape_table("https://da.wikipedia.org/wiki/Danmarks_demografi", 0) # sparad som CSV
den_raw = read_table("/home/albot/coding/repos/databehandling-albot/Data/Danmarks_demografi_0.csv") # tidigare arg=loc
den = den_raw.drop("Unnamed: 0", axis=1)
den1 = den.iloc[0:, 0:2]
den2 = den.iloc[0:, 2:4]
den1 = clear_data(den1)
den2 = clear_data(den2)

# slå ihop den1 och den2

display(den_raw)

,Unnamed: 0,År,Befolkning pr. 1. januar,År.1,Befolkning pr. 1. januar.1
0,0,800,500.000[7],NaN,NaN
1,1,1200,1.000.000[7],NaN,NaN
2,2,1769,797.584,1976.0,5.065.313
3,3,1787,841.806,1977.0,5.079.879
4,4,1801,929.001,1978.0,5.096.959
5,5,1834,1.230.964,1979.0,5.111.537
6,6,1840,1.289.075,1980.0,5.122.065
7,7,1845,1.356.877,1981.0,5.123.989
8,8,1850,1.414.648,1982.0,5.119.155
9,9,1855,1.507.222,1983.0,5.116.464
10,10,1860,1.608.362,1984.0,5.112.130
11,11,1870,1.784.741,1985.0,5.111.108
12,12,1880,1.969.039,1986.0,5.116.273
13,13,1890,2.172.380,1987.0,5.124.794
14,14,1901,2.449.540,1988.0,5.129.254
15,15,1906,2.588.919,1989.0,5.129.778
16,16,1911,2.757.076,1990.0,5.135.409
17,17,1916,2.921.362,1991.0,5.146.469
18,18,1921,3.267.831,1992.0,5.162.126
19,19,1925,3.434.555,1993.0,5.180.614
20,20,1930,3.550.656,1994.0,5.196.642
21,21,1935,3.706.349,1995.0,5.215.718
22,22,1940,3.844.312,1996.0,5.251.027
23,23,1945,4.045.232,1997.0,5.275.121
24,24,1950,4.281.275,1998.0,5.294.860
25,25,1955,4.448.401,1999.0,5.313.577
26,26,1960,4.585.256,2000.0,5.330.020
27,27,1965,4.767.597,2001.0,5.349.212
28,28,1970,4.937.579,2002.0,5.368.354
29,29,1971,4.950.598,2003.0,5.383.507
30,30,1972,4.975.653,2005.0,5.411.405
31,31,1973,5.007.538,2010.0,5.534.738
32,32,1974,5.036.184,2015.0,5.659.715
33,33,1975,5.054.410,2020.0,5.822.763

---
## 3. Norwegian demographic data (*)

Go to Swedish-language wikipedia page [Norges demografi](https://sv.wikipedia.org/wiki/Norges_demografi). 

&nbsp; a) Read in the table under "Befolkningsstatistik sedan 1900" into a DataFrame

&nbsp; b) You see some missing data in column "Total fertilitet". Go to the [English page](https://en.wikipedia.org/wiki/Demographics_of_Norway) and read in the data from "Vital statistics since 1900".  

&nbsp; c) Pick out the fertility column from b) dataset, merge it into a) dataset and clean the data so that you only have columns "År", "Folkmängd", "Fertilitet".

---
## 4. Merge Sweden-Norway (*)

Create a population graph and a fertility graph showing Sweden and Norway.

<details>

<summary>Answer</summary>

![Fertilitet Norge och Sverige](../assets/fertilitet_sv_no.png)

![Folkmängd Norge och Sverige](../assets/folkmangd_sverige_norge.png)

</details>

---

Kokchun Giang

[LinkedIn][linkedIn_kokchun]

[GitHub portfolio][github_portfolio]

[linkedIn_kokchun]: https://www.linkedin.com/in/kokchungiang/
[github_portfolio]: https://github.com/kokchun/Portfolio-Kokchun-Giang

---